[submodule "OpenLiteWaf"]
	path = OpenLiteWaf
	url = https://github.com/NingZeStudio/OpenLiteWaf.git
[submodule "OpenLiteStats"]
	path = OpenLiteStats
	url = https://github.com/NingZeStudio/OpenLiteStats.git
