openapi: 3.1.0
info:
  title: LogShare API
  version: 1.8.2-beta.2
  description: |
    Minecraft / Hytale log analysis and sharing platform.
    
    ## Authentication
    
    Most endpoints are public. Log deletion requires a Bearer token returned on creation.
    
    ## Rate Limiting
    
    All endpoints are rate limited per IP (default: 36,000 requests/minute).
    Exceeding returns `429 Too Many Requests` with `Retry-After` header.
    
    ## Content Filtering
    
    All submitted logs are pre-filtered for:
    - IPv4/IPv6 addresses (full & compressed)
    - UUIDs (standard, brace, URN formats)
    - Xbox XUIDs (16-digit decimal)
    - Session/auth tokens (JWT, Bearer, access_token)
    - Client/device/instance IDs
    - Minecraft coordinates (BlockPos, Vec3d, command formats)
    - Usernames (Windows/Linux paths, USERNAME=)
    - Access tokens (various JSON keys, headers)
    
    Filters run in the above order. Original content is not stored.
servers:
  - url: https://api.logshare.cn
    description: Production API
  - url: http://localhost:9501
    description: Local Hyperf (direct, dev only)
tags:
  - name: Logs
    description: Log submission, retrieval, deletion
  - name: Analysis
    description: Log analysis and insights
  - name: AI
    description: AI-powered log analysis (requires NVIDIA API keys in config)
  - name: Meta
    description: Limits, filters, rate limit status
  - name: Admin
    description: Administration and system monitoring endpoints (requires admin token)
paths:
  /:
    get:
      tags: [Meta]
      summary: API index
      description: Returns list of all available endpoints
      operationId: getIndex
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexResponse'
              example:
                success: true
                message: "LogShare API"
                endpoints:
                  - "POST /1/log"
                  - "DELETE /1/log/{id}"
                  - "POST /1/analyse"
                  - "GET /1/errors/rate"
                  - "GET /1/limits"
                  - "GET /1/filters"
                  - "GET /1/raw/{id}"
                  - "GET /1/insights/{id}"
                  - "GET /1/ai/{id}"
                  - "POST /1/ai/analyse"
  /1/log:
    post:
      tags: [Logs]
      summary: Submit a log
      description: |
        Accepts raw log content as `application/x-www-form-urlencoded` or `application/json`.
        Supports `br`/`gzip`/`deflate` `Content-Encoding`. Server default responds with Brotli compression when requested.
        
        **Form fields (urlencoded or JSON):**
        - `content` (string, required): Raw log text (max 10 MB, 50k lines)
        - `metadata[]` (array, optional): Array of `{key, value}` objects
        - `source` (string, optional): Free-form source identifier
        
        Returns a log ID and a deletion token. **Save the token** — it cannot be recovered.
        
        (Deprecated; use /v1/log instead)
      operationId: createLog
      deprecated: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  format: binary
                  description: Raw log content
                metadata:
                  type: array
                  items:
                    $ref: '#/components/schemas/MetadataEntry'
                source:
                  type: string
                  maxLength: 100
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  description: Raw log content
                metadata:
                  type: array
                  items:
                    $ref: '#/components/schemas/MetadataEntry'
                source:
                  type: string
                  maxLength: 100
      responses:
        '200':
          description: Log created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogCreateResponse'
              example:
                success: true
                message: "Log submitted successfully"
                id: "aB3x9K"
                url: "https://logshare.cn/aB3x9K"
                raw: "https://api.logshare.cn/1/raw/aB3x9K"
                token: "k7m2N9pQ4vL1xY6z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Logs]
      summary: Delete one or more logs
      description: |
        Requires `Authorization: Bearer <token>` header with the token returned on creation.
        Multiple IDs can be comma-separated in the path: `/1/log/id1,id2,id3`
        
        (Deprecated; use /v1/log instead)
      operationId: deleteLogs
      deprecated: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}(,[a-zA-Z0-9]{7})*$'
          description: Comma-separated log IDs (7 chars each)
          example: "aB3x9K,xY7z2M"
      headers:
        - name: Authorization
          in: header
          required: true
          description: Bearer token from log creation
          schema:
            type: string
            pattern: '^Bearer [a-zA-Z0-9]{16}$'
          example: "Bearer k7m2N9pQ4vL1xY6z"
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogDeleteResponse'
              example:
                success: true
                message: "Log deletion completed"
                deleted:
                  - "aB3x9K"
                failed: []
                total: 1
                deletedCount: 1
                failedCount: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/log:
    post:
      tags: [Logs]
      summary: Submit a log
      description: |
        Accepts raw log content as `application/x-www-form-urlencoded` or `application/json`.
        Supports `br`/`gzip`/`deflate` `Content-Encoding`. Server default responds with Brotli compression when requested.
        
        **Form fields (urlencoded or JSON):**
        - `content` (string, required): Raw log text (max 10 MB, 50k lines)
        - `metadata[]` (array, optional): Array of `{key, value}` objects
        - `source` (string, optional): Free-form source identifier (e.g. `fcl/1.2.0`, `pojav-glow-worm/3.4.0`)
        
        **Integration Best Practice:**
        Clients and launchers should upload all three parts whenever available: game log (`latest.log`) + crash report (`crash-reports/*.txt`) + launcher log (`launcher.log`), and always provide the `source` identifier so that AI diagnostics can accurately correlate launcher-specific environments and fixes.
        
        Returns a log ID and a deletion token. **Save the token** — it cannot be recovered.
      operationId: createLogV1
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  format: binary
                  description: Raw log content
                metadata:
                  type: array
                  items:
                    $ref: '#/components/schemas/MetadataEntry'
                source:
                  type: string
                  maxLength: 100
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  description: Raw log content (optional when `files` is provided)
                files:
                  type: array
                  description: Additional files stored under the same ID. Each `content` may be plain text or a ZIP archive (auto-expanded when `name` ends with `.zip`). Limits: 200 files / 12MB total after expansion.
                  items:
                    type: object
                    required: [name, content]
                    properties:
                      name:
                        type: string
                        description: File name, may include relative sub-paths
                      content:
                        type: string
                        description: File content or ZIP archive bytes
                metadata:
                  type: array
                  items:
                    $ref: '#/components/schemas/MetadataEntry'
                source:
                  type: string
                  maxLength: 100
      responses:
        '200':
          description: Log created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogCreateResponse'
              example:
                success: true
                message: "Log submitted successfully"
                id: "aB3x9K"
                url: "https://logshare.cn/aB3x9K"
                raw: "https://api.logshare.cn/v1/raw/aB3x9K"
                token: "k7m2N9pQ4vL1xY6z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Logs]
      summary: Delete one or more logs
      description: |
        Requires `Authorization: Bearer <token>` header with the token returned on creation.
        Multiple IDs can be comma-separated in the path: `/v1/log/id1,id2,id3`
      operationId: deleteLogsV1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}(,[a-zA-Z0-9]{7})*$'
          description: Comma-separated log IDs (7 chars each)
          example: "aB3x9K,xY7z2M"
      headers:
        - name: Authorization
          in: header
          required: true
          description: Bearer token from log creation
          schema:
            type: string
            pattern: '^Bearer [a-zA-Z0-9]{16}$'
          example: "Bearer k7m2N9pQ4vL1xY6z"
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogDeleteResponse'
              example:
                success: true
                message: "Log deletion completed"
                deleted:
                  - "aB3x9K"
                failed: []
                total: 1
                deletedCount: 1
                failedCount: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/log/{id}:
    get:
      tags: [Logs]
      summary: Get log metadata and file list
      description: |
        Returns log metadata (size, lines, timestamps) and the list of additional
        files stored under this ID (without their content).
        
        (Deprecated; use /v1/log/{id} instead)
      operationId: getLogMeta
      deprecated: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      responses:
        '200':
          description: Log metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  id: { type: string }
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        size: { type: integer }
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Logs]
      summary: Delete a single log (alternative path)
      description: |
        Same as `DELETE /1/log` but with ID in path. Requires Bearer token.
        
        (Deprecated; use /v1/log/{id} instead)
      operationId: deleteLogById
      deprecated: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      headers:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            pattern: '^Bearer [a-zA-Z0-9]{16}$'
          example: "Bearer k7m2N9pQ4vL1xY6z"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogDeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/log/{id}:
    get:
      tags: [Logs]
      summary: Get log metadata and file list
      description: |
        Returns log metadata (size, lines, timestamps) and the list of additional
        files stored under this ID (without their content).
      operationId: getLogMetaV1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      responses:
        '200':
          description: Log metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  message: { type: string, example: "Log metadata retrieved successfully" }
                  id: { type: string, example: "aB3x9K" }
                  size: { type: integer }
                  lines: { type: integer }
                  created: { type: integer, nullable: true }
                  expires: { type: integer, nullable: true }
                  metadata: { type: array, items: { $ref: '#/components/schemas/MetadataEntry' } }
                  source: { type: string, nullable: true }
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        size: { type: integer }
                  raw: { type: string }
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Logs]
      summary: Delete a single log (alternative path)
      description: |
        Same as `DELETE /v1/log` but with ID in path. Requires Bearer token.
      operationId: deleteLogByIdV1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      headers:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            pattern: '^Bearer [a-zA-Z0-9]{16}$'
          example: "Bearer k7m2N9pQ4vL1xY6z"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogDeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/analyse:
    post:
      tags: [Analysis]
      summary: Analyse log content without storing
      description: |
        Runs full Codex analysis (version detection, mod detection, crash parsing, etc.)
        on the provided content without persisting it. Returns structured analysis result.
        
        (Deprecated; use /v1/analyse instead)
      operationId: analyseLog
      deprecated: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  format: binary
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/analyse:
    post:
      tags: [Analysis]
      summary: Analyse log content without storing
      description: |
        Runs full Codex analysis (version detection, mod detection, crash parsing, etc.)
        on the provided content without persisting it. Returns structured analysis result.
      operationId: analyseLogV1
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  format: binary
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/raw/{id}:
    get:
      tags: [Logs]
      summary: Get raw log content
      description: |
        Returns the original (filtered) log text as `text/plain`
        
        (Deprecated; use /v1/raw/{id} instead)
      operationId: getRawLog
      deprecated: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      responses:
        '200':
          description: Raw log content
          content:
            text/plain:
              schema:
                type: string
              example: |
                [12:34:56] [Server thread/INFO]: Starting minecraft server version 1.20.1
                [12:34:56] [Server thread/INFO]: Loading properties
                ...
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/raw/{id}/{filename}:
    get:
      tags: [Logs]
      summary: Get a specific additional file of a log
      description: |
        Returns one additional file of a multi-file log as `text/plain`.
        `filename` may contain sub-paths (URL-encoded). Path traversal is rejected.
        
        (Deprecated; use /v1/raw/{id}/{filename} instead)
      operationId: getRawFile
      deprecated: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
        - name: filename
          in: path
          required: true
          schema:
            type: string
            pattern: '^[^/].*[^/]$'
          example: "crash-reports/crash-01.txt"
      responses:
        '200':
          description: File content
          content:
            text/plain:
              schema:
                type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/raw/{id}:
    get:
      tags: [Logs]
      summary: Get raw log content
      description: |
        Returns the original (filtered) log text as `text/plain`
      operationId: getRawLogV1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      responses:
        '200':
          description: Raw log content
          content:
            text/plain:
              schema:
                type: string
              example: |
                [12:34:56] [Server thread/INFO]: Starting minecraft server version 1.20.1
                [12:34:56] [Server thread/INFO]: Loading properties
                ...
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/raw/{id}/{filename}:
    get:
      tags: [Logs]
      summary: Get a specific additional file of a log
      description: |
        Returns one additional file of a multi-file log as `text/plain`.
        `filename` may contain sub-paths (URL-encoded). Path traversal is rejected.
      operationId: getRawFileV1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
        - name: filename
          in: path
          required: true
          schema:
            type: string
            pattern: '^[^/].*[^/]$'
          example: "crash-reports/crash-01.txt"
      responses:
        '200':
          description: File content
          content:
            text/plain:
              schema:
                type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/insights/{id}:
    get:
      tags: [Analysis]
      summary: Get structured insights for a log
      description: |
        Returns parsed entries, error counts, mod list, version info, etc.
        
        (Deprecated; use /v1/insights/{id} instead)
      operationId: getInsights
      deprecated: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      responses:
        '200':
          description: Insights data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/insights/{id}:
    get:
      tags: [Analysis]
      summary: Get structured insights for a log
      description: |
        Returns parsed entries, error counts, mod list, version info, etc.
      operationId: getInsightsV1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      responses:
        '200':
          description: Insights data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/ai/{id}:
    get:
      tags: [AI]
      summary: Stream AI analysis of a stored log
      description: |
        Streams AI-generated analysis (markdown) via SSE. Requires NVIDIA API keys in config.
        Response is `text/event-stream` with `data: <chunk>` lines.
        
        (Deprecated; use /v1/ai/{id} instead)
      operationId: getAIAnalysis
      deprecated: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
              example: "data: ## Analysis\n\ndata: Found 3 errors...\n\ndata: [DONE]\n\n"
          headers:
            Cache-Control:
              schema:
                type: string
              example: "no-cache"
            Connection:
              schema:
                type: string
              example: "keep-alive"
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: AI service unavailable (no API keys configured)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/ai/{id}:
    get:
      tags: [AI]
      summary: Stream AI analysis of a stored log
      description: |
        Streams AI-generated analysis (markdown) via SSE. Response is `text/event-stream`
        with `data: <chunk>` lines.
        
        When `ai.agent.enabled` is true this runs the LogAgent tool loop bound to this
        log ID (file tools `list_log_files` / `read_log_file` / `grep_log_file` are scoped to it) and emits
        additional `event: status` events (`type`: thinking / tool / tool_result / limit) as well as
        `event: error` on failure and `event: done` on completion. Logs <12KB are passed in full; logs >=12KB
        undergo targeted error localization (12KB window around the first error or prompt guidance with
        grep_log_file keywords when no explicit error matches).

        When `ai.queue.enabled` is true the analysis executes in the Redis Streams
        micro-queue and this endpoint only relays the job event stream (an extra
        `event: status` with `{"type":"queued","position":N}` precedes the analysis
        frames). Queue full returns `429` with `Retry-After` before the SSE stream
        starts; a client disconnect does not cancel the job (the result is still
        cached). If Redis is unavailable the request falls back to inline execution
        (`ai.queue.failOpen`).
      operationId: getAIAnalysisV1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
              example: "event: status\ndata: {\"type\":\"queued\",\"position\":1}\n\nevent: status\ndata: {\"type\":\"thinking\",\"delta\":\"Analyzing logs...\"}\n\ndata: {\"choices\":[{\"delta\":{\"content\":\"# Analysis\\n...\"}}]}\n\nevent: done\ndata: {\"status\":\"completed\"}\n\n"
          headers:
            Cache-Control:
              schema:
                type: string
              example: "no-cache"
            Connection:
              schema:
                type: string
              example: "keep-alive"
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: AI service unavailable (no API keys configured)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/ai/analyse:
    post:
      tags: [AI]
      summary: Stream AI analysis of raw content
      description: |
        Same as `/1/ai/{id}` but analyses provided content directly without storage.
        
        (Deprecated; use /v1/ai/analyse instead)
      operationId: aiAnalyseRaw
      deprecated: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  format: binary
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          description: AI service unavailable
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/ai/analyse:
    post:
      tags: [AI]
      summary: Stream AI analysis of raw content
      description: |
        Same as `/v1/ai/{id}` but analyses provided content directly without storage.
        Queue-mode behavior (queued event, 429 on full queue, fail-open) is identical.
        
        When `id` (a stored log ID) is provided, the AI agent gains access to that
        log's files for multi-file comparison; `content` may then be omitted.
        
        When `ai.agent.enabled` is true the endpoint runs the LogAgent tool loop and
        emits additional `event: status` events (`type`: thinking / tool / tool_result / limit)
        alongside the legacy `data:` content lines, `event: error` on failure, and `event: done`
        on completion. Supports request body compression via `Content-Encoding` (br / gzip / deflate).
      operationId: aiAnalyseRawV1
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  format: binary
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  description: Raw log content (optional when `id` is provided)
                id:
                  type: string
                  description: Stored log ID to bind the session to (enables file tools)
                  pattern: '^[a-zA-Z0-9]{7}$'
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          description: AI service unavailable
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/limits:
    get:
      tags: [Meta]
      summary: Get upload limits
      description: |
        Returns configured max bytes, max lines, and storage TTL
        
        (Deprecated; use /v1/limits instead)
      operationId: getLimits
      deprecated: true
      responses:
        '200':
          description: Limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitsResponse'
              example:
                maxLength: 10485760
                maxLines: 50000
                storageTime: 604800
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/limits:
    get:
      tags: [Meta]
      summary: Get upload limits
      description: |
        Returns configured max bytes, max lines, and storage TTL
      operationId: getLimitsV1
      responses:
        '200':
          description: Limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitsResponse'
              example:
                maxLength: 10485760
                maxLines: 50000
                storageTime: 604800
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/filters:
    get:
      tags: [Meta]
      summary: List active pre-filters
      description: |
        Returns the ordered list of active pre-filters (type + config).
        Derived from the `filter.pre` config, so it always reflects what is actually applied.
        
        (Deprecated; use /v1/filters instead)
      operationId: getFilters
      deprecated: true
      responses:
        '200':
          description: Filter list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponse'
              example:
                success: true
                filters:
                  - type: trim
                    data: null
                  - type: limit-bytes
                    data:
                      limit: 10485760
                  - type: limit-lines
                    data:
                      limit: 50000
                  - type: regex
                    data:
                      patterns:
                        - pattern: IPv4
                          replacement: "**.**.**.**"
                        - pattern: IPv6
                          replacement: "****:****:****:****:****:****:****:****"
                        - pattern: IPv6Short
                          replacement: "****:****:****:****:****:****:****:****"
                        - pattern: Uuid
                          replacement: "********-****-****-****-************"
                        - pattern: Xuid
                          replacement: "xuid:\"****************\""
                        - pattern: SessionToken
                          replacement: "accessToken:\"********\""
                        - pattern: ClientId
                          replacement: "clientId:\"********\""
                        - pattern: Coordinate
                          replacement: "BlockPos(*****, *****, *****)"
                        - pattern: Username
                          replacement: "C:\\Users\\********\\"
                        - pattern: AccessToken
                          replacement: "accessToken:\"********\""
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/filters:
    get:
      tags: [Meta]
      summary: List active pre-filters
      description: |
        Returns the ordered list of active pre-filters (type + config).
        Derived from the `filter.pre` config, so it always reflects what is actually applied.
      operationId: getFiltersV1
      responses:
        '200':
          description: Filter list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponse'
              example:
                success: true
                filters:
                  - type: trim
                    data: null
                  - type: limit-bytes
                    data:
                      limit: 10485760
                  - type: limit-lines
                    data:
                      limit: 50000
                  - type: regex
                    data:
                      patterns:
                        - pattern: IPv4
                          replacement: "**.**.**.**"
                        - pattern: IPv6
                          replacement: "****:****:****:****:****:****:****:****"
                        - pattern: IPv6Short
                          replacement: "****:****:****:****:****:****:****:****"
                        - pattern: Uuid
                          replacement: "********-****-****-****-************"
                        - pattern: Xuid
                          replacement: "xuid:\"****************\""
                        - pattern: SessionToken
                          replacement: "accessToken:\"********\""
                        - pattern: ClientId
                          replacement: "clientId:\"********\""
                        - pattern: Coordinate
                          replacement: "BlockPos(*****, *****, *****)"
                        - pattern: Username
                          replacement: "C:\\Users\\********\\"
                        - pattern: AccessToken
                          replacement: "accessToken:\"********\""
        '429':
          $ref: '#/components/responses/RateLimited'
  /1/errors/rate:
    get:
      tags: [Meta]
      summary: Rate limit status
      description: |
        Returns current rate limit counters for the requesting IP
        
        (Deprecated; use /v1/errors/rate instead)
      operationId: getRateLimitStatus
      deprecated: true
      responses:
        '200':
          description: Rate limit info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponse'
              example:
                success: true
                message: "OK"
                limits:
                  "POST /1/log":
                    limit: 36000
                    window: 60
                    remaining: 35998
                    reset: 1700000000
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/errors/rate:
    get:
      tags: [Meta]
      summary: Rate limit status
      description: |
        Returns current rate limit counters for the requesting IP
      operationId: getRateLimitStatusV1
      responses:
        '200':
          description: Rate limit info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponse'
              example:
                success: true
                message: "OK"
                limits:
                  "POST /v1/log":
                    limit: 36000
                    window: 60
                    remaining: 35998
                    reset: 1700000000
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/admin/logs:
    get:
      tags: [Admin]
      summary: List logs (Admin)
      description: Returns a paginated list of uploaded logs with optional filters
      operationId: adminListLogs
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: source
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: integer
        - name: until
          in: query
          schema:
            type: integer
        - name: keyword
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Admin interface disabled
  /v1/admin/logs/{id}:
    get:
      tags: [Admin]
      summary: Get log details (Admin)
      description: Returns full content and metadata for a log without token check
      operationId: adminGetLog
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Log not found
    delete:
      tags: [Admin]
      summary: Force delete logs (Admin)
      description: Forces deletion of one or multiple logs without user token
      operationId: adminDeleteLogs
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
  /v1/admin/system/queue:
    get:
      tags: [Admin]
      summary: Get AI queue status (Admin)
      description: Returns queue depth and configuration for AI stream analysis
      operationId: adminGetQueueStatus
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
  /v1/admin/system/stats:
    get:
      tags: [Admin]
      summary: Get system stats (Admin)
      description: Returns runtime metrics, storage statistics, and versions
      operationId: adminGetSystemStats
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
  /v1/admin/config:
    get:
      tags: [Admin]
      summary: Get system configuration (Admin)
      description: Returns masked system configuration tree
      operationId: adminGetConfig
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
    put:
      tags: [Admin]
      summary: Update system configuration (Admin)
      description: Dynamically updates and persists system configuration
      operationId: adminUpdateConfig
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '422':
          description: Validation Failed
  /v1/admin/config/reset:
    post:
      tags: [Admin]
      summary: Reset configuration to defaults (Admin)
      description: Deletes dynamic configuration overrides
      operationId: adminResetConfig
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/config/test-ai:
    post:
      tags: [Admin]
      summary: Test AI provider connectivity (Admin)
      operationId: adminTestAi
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                baseUrl: { type: string }
                model: { type: string }
                apiKey: { type: string }
                timeout: { type: integer }
                headers:
                  type: object
                  additionalProperties: { type: string }
      responses:
        '200':
          description: OK
  /v1/admin/config/test-rag-provider:
    post:
      tags: [Admin]
      summary: Test RAG embedding provider connectivity (Admin)
      operationId: adminTestRagProvider
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                baseUrl: { type: string }
                embeddingModel: { type: string }
                apiKey: { type: string }
                name: { type: string }
      responses:
        '200':
          description: OK
  /v1/admin/rag/stats:
    get:
      tags: [Admin]
      summary: Get RAG knowledge base statistics (Admin)
      operationId: adminGetRagStats
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/rag/build:
    post:
      tags: [Admin]
      summary: Trigger RAG knowledge base index build (Admin)
      operationId: adminTriggerRagBuild
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/rag/build/status:
    get:
      tags: [Admin]
      summary: Get RAG index build status (Admin)
      operationId: adminGetRagBuildStatus
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/rag/search:
    post:
      tags: [Admin]
      summary: Test RAG search recall (Admin)
      operationId: adminSearchRag
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string }
        '200':
          description: OK
  /v1/admin/rag/topics:
    get:
      tags: [Admin]
      summary: List registered RAG topics (Admin)
      operationId: adminGetRagTopics
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/rag/docs:
    get:
      tags: [Admin]
      summary: List RAG documents (Admin)
      operationId: adminListRagDocs
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: topic
          in: query
          required: false
          schema: { type: string }
        - name: keyword
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: OK
    delete:
      tags: [Admin]
      summary: Delete RAG document (Admin)
      operationId: adminDeleteRagDoc
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: path
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
  /v1/admin/rag/docs/content:
    get:
      tags: [Admin]
      summary: Read RAG document content (Admin)
      operationId: adminGetRagDocContent
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: path
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
  /v1/admin/rag/docs/save:
    post:
      tags: [Admin]
      summary: Create or update RAG document (Admin)
      operationId: adminSaveRagDoc
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic, filename, content]
              properties:
                topic: { type: string }
                filename: { type: string }
                content: { type: string }
                isNew: { type: boolean }
      responses:
        '200':
          description: OK
  /v1/admin/rag/docs/upload:
    post:
      tags: [Admin]
      summary: Upload RAG document file (Admin)
      operationId: adminUploadRagDoc
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [topic, file]
              properties:
                topic: { type: string }
                file: { type: string, format: binary }
                filename: { type: string }
          application/json:
            schema:
              type: object
              required: [topic, filename, content]
              properties:
                topic: { type: string }
                filename: { type: string }
                content: { type: string }
      responses:
        '200':
          description: OK
  /v1/admin/analytics/sources:
    get:
      tags: [Admin]
      summary: Get client source distribution (Admin)
      operationId: adminGetAnalyticsSources
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 7 }
      responses:
        '200':
          description: OK
  /v1/admin/analytics/versions:
    get:
      tags: [Admin]
      summary: Get Minecraft versions and mod loader matrix (Admin)
      operationId: adminGetAnalyticsVersions
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 30 }
      responses:
        '200':
          description: OK
  /v1/admin/analytics/trends:
    get:
      tags: [Admin]
      summary: Get log upload and size trends (Admin)
      operationId: adminGetAnalyticsTrends
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 7 }
      responses:
        '200':
          description: OK
  /v1/admin/system/storage-health:
    get:
      tags: [Admin]
      summary: Get storage health and resource diagnostics (Admin)
      operationId: adminGetStorageHealth
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/system/cleanup-expired:
    post:
      tags: [Admin]
      summary: Trigger expired logs cleanup (Admin)
      operationId: adminCleanupExpired
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/system/cache/flush:
    post:
      tags: [Admin]
      summary: Flush Redis cache by prefix (Admin)
      operationId: adminFlushCache
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix: { type: string, default: "log:*" }
      responses:
        '200':
          description: OK
  /v1/admin/logs/batch-delete:
    post:
      tags: [Admin]
      summary: Batch delete logs by criteria (Admin)
      operationId: adminBatchDeleteLogs
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source: { type: string }
                since: { type: integer }
                until: { type: integer }
                keyword: { type: string }
                limit: { type: integer, default: 500 }
      responses:
        '200':
          description: OK
  /v1/admin/security/bans:
    get:
      tags: [Admin]
      summary: List banned IP addresses (Admin)
      operationId: adminListBans
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/security/ban:
    post:
      tags: [Admin]
      summary: Manually ban an IP address (Admin)
      operationId: adminBanIp
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ip]
              properties:
                ip: { type: string }
                ttl: { type: integer, default: 86400 }
                reason: { type: string }
      responses:
        '200':
          description: OK
  /v1/admin/security/unban:
    post:
      tags: [Admin]
      summary: Manually unban an IP address (Admin)
      operationId: adminUnbanIp
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ip]
              properties:
                ip: { type: string }
      responses:
        '200':
          description: OK
  /v1/admin/security/overview:
    get:
      tags: [Admin]
      summary: Get edge WAF attack stats overview (Admin)
      operationId: adminGetSecurityOverview
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/security/content-rules:
    get:
      tags: [Admin]
      summary: Get content reject rules (Admin)
      operationId: adminGetContentRules
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
    put:
      tags: [Admin]
      summary: Update content reject rules (Admin)
      operationId: adminUpdateContentRules
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled: { type: boolean }
                keywords:
                  type: array
                  items: { type: string }
                patterns:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: OK
  /v1/admin/ai/metrics:
    get:
      tags: [Admin]
      summary: Get AI operations and quality metrics (Admin)
      operationId: adminGetAiMetrics
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: days
          in: query
          required: false
          schema: { type: integer, default: 7 }
      responses:
        '200':
          description: OK
  /v1/admin/ai/queue/inspect:
    get:
      tags: [Admin]
      summary: Deep inspect AI micro-queue and dead letters (Admin)
      operationId: adminInspectAiQueue
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: OK
  /v1/admin/ai/queue/pause:
    post:
      tags: [Admin]
      summary: Pause AI micro-queue consumer (Admin)
      operationId: adminPauseAiQueue
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/ai/queue/resume:
    post:
      tags: [Admin]
      summary: Resume AI micro-queue consumer (Admin)
      operationId: adminResumeAiQueue
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/ai/queue/flush:
    post:
      tags: [Admin]
      summary: Flush pending AI micro-queue backlog (Admin)
      operationId: adminFlushAiQueue
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/ai/queue/dead/clear:
    post:
      tags: [Admin]
      summary: Clear AI dead jobs list (Admin)
      operationId: adminClearAiDeadJobs
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/spinyarn/status:
    get:
      tags: [Admin]
      summary: Get SpinYarn extension status and local mappings library (Admin)
      operationId: adminGetSpinYarnStatus
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/spinyarn/test:
    post:
      tags: [Admin]
      summary: Test online SpinYarn deobfuscation probe (Admin)
      operationId: adminTestSpinYarn
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content, version]
              properties:
                content: { type: string }
                version: { type: string }
                mappingType: { type: string, enum: [yarn, vanilla] }
      responses:
        '200':
          description: OK
  /v1/admin/audit/logs:
    get:
      tags: [Admin]
      summary: Paginated query of sensitive operation audit logs (Admin)
      operationId: adminGetAuditLogs
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 20 }
        - name: action
          in: query
          schema: { type: string }
        - name: keyword
          in: query
          schema: { type: string }
        - name: since
          in: query
          schema: { type: integer }
        - name: until
          in: query
          schema: { type: integer }
      responses:
        '200':
          description: OK
    delete:
      tags: [Admin]
      summary: Clear sensitive operation audit logs (Admin)
      operationId: adminClearAuditLogs
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
  /v1/admin/event-queue/stats:
    get:
      tags: [Admin]
      summary: Get asynchronous event queue stats and telemetry (Admin)
      operationId: adminGetEventQueueStats
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/event-queue/dead:
    get:
      tags: [Admin]
      summary: List dead letter tasks with error traces (Admin)
      operationId: adminListDeadLetters
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: OK
    delete:
      tags: [Admin]
      summary: Clear dead letter queue (Admin)
      operationId: adminClearDeadLetters
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      responses:
        '200':
          description: OK
  /v1/admin/event-queue/dead/retry:
    post:
      tags: [Admin]
      summary: Retry a dead letter task back into main event stream (Admin)
      operationId: adminRetryDeadLetter
      security:
        - AdminBearerAuth: []
        - AdminHeaderAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [streamId]
              properties:
                streamId: { type: string }
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    AdminBearerAuth:
      type: http
      scheme: bearer
    AdminHeaderAuth:
      type: apiKey
      in: header
      name: X-Admin-Token
  schemas:
    IndexResponse:
      type: object
      required: [success, message, endpoints]
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "LogShare API"
        endpoints:
          type: array
          items:
            type: string
    LogCreateResponse:
      type: object
      required: [success, message, id, url, raw, token]
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Log submitted successfully"
        id:
          type: string
          pattern: '^[a-zA-Z0-9]{7}$'
          example: "aB3x9K"
        url:
          type: string
          format: uri
          example: "https://logshare.cn/aB3x9K"
        raw:
          type: string
          format: uri
          example: "https://api.logshare.cn/1/raw/aB3x9K"
        token:
          type: string
          pattern: '^[a-zA-Z0-9]{16}$'
          example: "k7m2N9pQ4vL1xY6z"
    LogDeleteResponse:
      type: object
      required: [success, message, deleted, failed, total, deletedCount, failedCount]
      properties:
        success:
          type: boolean
        message:
          type: string
        deleted:
          type: array
          items:
            type: string
        failed:
          type: array
          items:
            type: object
            required: [id, message, code]
            properties:
              id:
                type: string
              message:
                type: string
              code:
                type: integer
        total:
          type: integer
        deletedCount:
          type: integer
        failedCount:
          type: integer
    AnalysisResponse:
      type: object
      description: Full Codex analysis result (varies by log type)
      properties:
        success:
          type: boolean
        message:
          type: string
        analysis:
          type: object
          additionalProperties: true
    InsightsResponse:
      type: object
      required: [success, message, data]
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            lineCount:
              type: integer
            errorCount:
              type: integer
            version:
              type: string
            modLoader:
              type: string
            mods:
              type: array
              items:
                type: object
            entries:
              type: array
              items:
                type: object
    LimitsResponse:
      type: object
      required: [maxLength, maxLines, storageTime]
      properties:
        maxLength:
          type: integer
          description: Max upload bytes
          example: 10485760
        maxLines:
          type: integer
          example: 50000
        storageTime:
          type: integer
          description: TTL in seconds
          example: 604800
    FiltersResponse:
      type: object
      required: [success, filters]
      properties:
        success:
          type: boolean
        filters:
          type: array
          items:
            type: object
            required: [type, data]
            properties:
              type:
                type: string
              data:
                nullable: true
    RateLimitResponse:
      type: object
      required: [success, message, limits]
      properties:
        success:
          type: boolean
        message:
          type: string
        limits:
          type: object
          additionalProperties:
            type: object
            required: [limit, window, remaining, reset]
            properties:
              limit:
                type: integer
              window:
                type: integer
                description: Window in seconds
              remaining:
                type: integer
              reset:
                type: integer
                description: Unix timestamp
    MetadataEntry:
      type: object
      required: [key, value]
      properties:
        key:
          type: string
          maxLength: 100
        value:
          type: string
          maxLength: 500
    ErrorResponse:
      type: object
      required: [success, error, code]
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: integer
        errors:
          type: array
          items:
            type: object
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Missing required field: content"
            code: 400
    Unauthorized:
      description: Missing or invalid Authorization header
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Missing token in Authorization header. Use: Bearer <token>"
            code: 401
    Forbidden:
      description: Token mismatch
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Invalid token for log: aB3x9K"
            code: 403
    NotFound:
      description: Log not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Log not found: aB3x9K"
            code: 404
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until reset
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Rate limit exceeded. Please try again later."
            code: 429
    PayloadTooLarge:
      description: Request body exceeds limit
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Request body exceeds 10 MB limit"
            code: 413
